<?php
return [
    
    'default' => 'cs',
	
    'connections' => [
        'cs' => [
            'driver'    => '',
            'host'      => '',
            'port'      => '',
            'database'  => '',
            'username'  => '',
            'password'  => '',
            'prefix'    => '',
        ],
        'ods' => [
            'driver'    => '',
            'host'      => '',
            'port'      => '',
            'database'  => '',
            'username'  => '',
            'password'  => '',
            'prefix'    => '',
        ],
    ],
];